.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.skills {
  margin-bottom: 40px;
}

.skillsList {
  list-style: none;
  padding: 0;
}

.skillsList li {
  margin-bottom: 10px;
  font-size: 18px;
}

.skillIcon {
  margin-right: 10px;
}

.projects {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.projectCard {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.projectCard.expanded {
  background-color: #f9f9f9;
  padding: 30px;
  border-color: #0073b1;
}

.projectDetails {
  margin-top: 20px;
  font-size: 16px;
  line-height: 1.6;
}

.projectDetails ul {
  list-style-type: disc;
  padding-left: 20px;
}

.buttonWhite,
.buttonOrange {
  margin-right: 10px;
  margin-top: 10px;
}

.socialLinks {
  margin-top: 20px;
  text-align: center;
}

.socialIcons {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.socialIcons a {
  margin: 0 15px;
  color: #333;
  transition: color 0.3s;
}

.socialIcons a:hover {
  color: #0073b1; /* Adjust color based on the icon/link */
}

.footer {
  text-align: center;
  padding: 10px;
  background-color: #333;
  color: #fff;
  border-radius: 0 0 8px 8px;
}

.footer p {
  margin: 0;
}